<div class="wrapper">
  <div class="heading">Get in touch</div>
  <div class="subheading">Trysail transom furl Sea Legs scallywag Jack Ketch chandler mizzenmast reef sails skysail. Shiver me timbers loot bucko belaying pin Sea Legs boom gunwalls booty jury mast fore.</div>
  <form [formGroup]="form">
    <div class="form-heading">Contact form</div>
    <div class="contacts">
      <div class="form-input">
        <label for="name">Name</label>
        <input formControlName="name"
               type="text"
               id="name"
               autocomplete="off"
               requiredAsterisk
        >
      </div>
      <div class="form-input">
        <label for="email">Email Address</label>
        <input formControlName="email"
               type="text"
               id="email"
               autocomplete="off"
               requiredAsterisk
        >
      </div>
    </div>
    <div class="form-input">
      <label for="message">Message</label>
      <textarea formControlName="message"
                id="message"
                rows="4"
                requiredAsterisk
      ></textarea>
    </div>
    <button class="send-btn" type="submit">Send</button>
  </form>
</div>
